:root {
    --lightblue: #83EEFF;
    --blue: #0900ff;
    --orange: #ff3c00;
    --yellow: #ffff00;
    --green: #39FF14;
    --magenta: magenta;
    --red: red;
}

.tetromino-square {
    box-sizing: border-box;
    display: inline-block;
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 1px;
    border-width: 2px;
    border-style: outset;
}

.tetromino-square.I {
    background-color: var(--lightblue);
    border-color: var(--lightblue);
}

.tetromino-square.J {
    background-color: var(--blue);
    border-color: var(--blue);
}

.tetromino-square.L {
    background-color: var(--orange);
    border-color: var(--orange);
}

.tetromino-square.O {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.tetromino-square.S {
    background-color: var(--green);
    border-color: var(--green);
}

.tetromino-square.T {
    background-color: var(--magenta);
    border-color: var(--magenta);
}

.tetromino-square.Z {
    background-color: var(--red);
    border-color: var(--red);
}

.tetromino-square.empty {
    border:none;
}

@media screen and (min-width:768px) {
    .tetromino-square {
        width: 4.25vh;
        height: 4.25vh;
    }
}

