.options {
    grid-area: options;
}

.buttons-div {
    display: flex;
    justify-content: center;
}

button {
    width: 110px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.start-button {
    border: 3px solid #f299fb;
    color: #f299fb;
}

.start-button:hover {
    box-shadow: 0 0 10px 0 #f299fb inset, 0 0 20px 2px #f299fb;
}

.pause-button {
    border: 3px solid gold;
    color: gold;
}

.pause-button:hover {
    box-shadow: 0 0 10px 0 gold inset, 0 0 20px 2px gold;
}
