* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
}

body {
  background-color: #11121c;
  color: #bcb0b0;
  min-width: 500px;
  margin: 10px;
}

.header {
  grid-area: header;
  letter-spacing: 2px;
  font-size: 30px;
}

.App {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 10vh 15vh 75vh;
  grid-template-areas: 
    'header options'
    'game-stats score'
    'game-board game-board';
  grid-gap: 10px;
}

@media screen and (min-width: 768px) {
  .App {
    grid-template-columns: 65% 35%;
    grid-template-rows: 10vh 10vh 20vh 60vh;
    grid-template-areas:
      'header header'
      'game-board options'
      'game-board game-stats'
      'game-board score'
  }

  .header {
    font-size: 50px;
  }
}